body {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

h1.display-3 {
    color: #0d6efd;
}

.card {
    border-radius: 12px;
    transition: transform 0.3s;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Optional hover effect for footer link */
.footer a:hover {
    color: #0dcaf0; /* Bootstrap cyan */
}
body {
    padding-top: 70px; /* Adjust based on navbar height */
}


